.DraftEditor-root{
height: 100px;
border: solid 1px $offwhite;
border-radius: 3px;
padding: 20px;
}

.rdw-colorpicker-modal {
    left: -40px;
}

.rdw-editor-toolbar{

}

.rdw-link-modal{
    left:-160px;
}